.banner {
  background: #5cb85c;
  padding: 40px 0;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.banner h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.banner p {
  margin-top: 10px;
  font-size: 18px;
}